In [1]:
# Declare a python datatype list and do the following:
# (a) Write a Python program to sum all the items of the list.
# (b) Write a Python program to multiply all the items.
# (c) Write a Python program to get the largest number from a list.
# (d) Write a Python program to get the smallest number from a list.

a = [1,2,3,4,5]

print(sum(a))
p = 1
for i in a:
    p =p * i
print(p)
print(max(a))
print(min(a))

15
120
5
1

In [2]:
# Let A=[‘abc’, ‘xyz’, ‘aba’, 1221’] be a given string, and write a Python
# program that prints the string or strings and their index from the given list,
# ensuring that the first and last characters of the strings to be printed are
# identical.

a = ['abc', 'xyz', 'aba', '1221']
for idx, i in enumerate(a):
    if i[0] == i[-1]:
        print(idx, i)

2 aba
3 1221

In [5]:
# Write a python program to print patterns given below:

a = 'ABCDE'

for i in range(1+len(a)):
    print(" "*((len(a)-i)//2), a[0:i])

for i in range(6):
    print('*'*i)

   A
  AB
  ABC
 ABCD
 ABCDE

*
**
***
****
*****

In [4]:
# Write a Python program to convert the given list to a list of dictionaries.
# ListColour= ["Black", "Red", "Maroon", "Yellow"], ["000000", "FF0000", "800000", "FFFF00"]
# Expected Output: {’colorName’: ’Black’, ’colorCode’: ’000000’}, {’color-Name’: ’Red’, ’colorCode’: ’FF0000’}, ’colorName’: ’Maroon’, ’colorCode’:’800000’}, {’colorName’: ’Yellow’, ’colorCode’: ’FFFF00’}

ListColour= (["Black", "Red", "Maroon", "Yellow"], ["000000", "FF0000",
"800000", "FFFF00"])

a = []
for i in range(4):
    a.append(
        {
            'colorName': ListColour[0][i],
            "colorCode": ListColour[1][i]
        }
    )

a

[{'colorName': 'Black', 'colorCode': '000000'},
 {'colorName': 'Red', 'colorCode': 'FF0000'},
 {'colorName': 'Maroon', 'colorCode': '800000'},
 {'colorName': 'Yellow', 'colorCode': 'FFFF00'}]

In [5]:
# Write a Python program to print all the even numbers and their squares
# within the given range.
# (a) range(1,50)
# (b) range(1,100)

for i in range(1,100):
    if i % 2 == 0:
        print(i, i**2)

2 4
4 16
6 36
8 64
10 100
12 144
14 196
16 256
18 324
20 400
22 484
24 576
26 676
28 784
30 900
32 1024
34 1156
36 1296
38 1444
40 1600
42 1764
44 1936
46 2116
48 2304
50 2500
52 2704
54 2916
56 3136
58 3364
60 3600
62 3844
64 4096
66 4356
68 4624
70 4900
72 5184
74 5476
76 5776
78 6084
80 6400
82 6724
84 7056
86 7396
88 7744
90 8100
92 8464
94 8836
96 9216
98 9604

In [8]:
# Write a Python program to read a four-digit number and find its
# (a) Sum of digits
# (b) Reverse

a = str(input("4 digit number: "))
s = 0
for i in a:
    s += int(i)
print('sum: ', s)
print('reverse: ', a[::-1])

sum:  10
reverse:  4321

In [15]:
# Write a program to find the area of a triangle. Then find the area of two
# arbitrary triangles by entering the three sides both using the input function
# (input()). Print the total area enclosed by both triangles and each triangle’s
# contribution (%) towards it.

a = []
b = []

for i in range(3):
    a.append(int(input(f"Enter Triangle A Side {1 + i}: ")))
    b.append(int(input(f"Enter Triangle B Side {1 + i}: ")))
sa = sum(a)/2
aa = (sa*(sa-a[0])*(sa-a[1])*(sa-a[2]))**0.5
sb = sum(b)/2
ba = (sb*(sb-b[0])*(sb-b[1])*(sb-b[2]))**0.5

ap = aa/(aa + ba) * 100
bp = ba/(aa + ba) * 100

print(f'A: {ap}%\nB: {bp}%')

A: 40.30125738579637%
B: 59.69874261420364%

In [18]:
# Given a dictionary containing the following information about 10 different people:
# Write a Python program that prints each person’s name, age, and blood
# group in a formatted manner. Each person’s information should be separated
# by a line of dashes (-).

people = [
    {"name": "John Doe", "age": 30, "blood_group": "A+"},
    {"name": "Jane Smith", "age": 25, "blood_group": "B-"},
    {"name": "Emily Davis", "age": 40, "blood_group": "O+"},
    {"name": "Michael Brown", "age": 35, "blood_group": "AB-"},
    {"name": "William Johnson", "age": 28, "blood_group": "A-"},
    {"name": "Emma Wilson", "age": 22, "blood_group": "B+"},
    {"name": "Oliver Martinez", "age": 33, "blood_group": "O-"},
    {"name": "Sophia Anderson", "age": 27, "blood_group": "AB+"},
    {"name": "James Thomas", "age": 45, "blood_group": "A+"},
    {"name": "Isabella Lee", "age": 38, "blood_group": "B-"}
]

for i in people:
    print(f"-------------\nName: {i["name"]}\nAge: {i["age"]}\nBlood Group: {i["blood_group"]}")

-------------
Name: John Doe
Age: 30
Blood Group: A+
-------------
Name: Jane Smith
Age: 25
Blood Group: B-
-------------
Name: Emily Davis
Age: 40
Blood Group: O+
-------------
Name: Michael Brown
Age: 35
Blood Group: AB-
-------------
Name: William Johnson
Age: 28
Blood Group: A-
-------------
Name: Emma Wilson
Age: 22
Blood Group: B+
-------------
Name: Oliver Martinez
Age: 33
Blood Group: O-
-------------
Name: Sophia Anderson
Age: 27
Blood Group: AB+
-------------
Name: James Thomas
Age: 45
Blood Group: A+
-------------
Name: Isabella Lee
Age: 38
Blood Group: B-

In [19]:
# Write a Python program to extract the rear elements from a tuple string as
# depicted in the following figure:

a = ('abc','xyz','vbn','asd')
o = []
for i in a:
    o.append(i[-1])
o

['c', 'z', 'n', 'd']

In [23]:
# Declare a list/tuple containing all the twelve months. Write a Python program
# that converts a month name entered via the Python console to the number
# of days in that month (Consider leap year as well the code):

a = ["Jan", "Feb", 'Mar', "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]

while True:
    i = input(f"Enter Month {a} and 'q' to quit:")

    if i in ["Jan", 'Mar', "May", "Jul", "Aug", "Oct", "Dec"]:
        print(i, "31 Days")
    elif i in ["Apr", "Jun", "Sep", "Nov"]:
        print(i, "30 Days")
    elif i == "Feb":
        y = int(input("Enter Year: "))
        if y % 4 == 0:
            print(i, "29 Days")
        else:
            print(i, "28 Days")
    elif i == 'q':
        break
    else:
        print("Invalid Input!")

Jan 31 Days
Feb 28 Days
Feb 29 Days
Aug 31 Days
Sep 30 Days
Jul 31 Days
Invalid Input!